body {
    text-align: center;
    font-family: 'Arial';
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;;
}

.navbar {
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px gray;
}

#doge_img {
    width: 90px;
    height: 90px;
    margin: 5px;
    margin-right: auto;
}

.links {
    display: flex;
    margin-left: auto;
    padding: 10px;
    align-items: center;
    margin-right: 50px;
}

.links a {
    padding: 20px;
    font-size: 25px;
    margin-right: 10px;
    text-decoration:none;
}
#home {
    color: black;
    text-decoration: solid underline #FCC201 3px;
}

#about, #history {
    color: #9fa19f;
}

#home:hover, #about:hover, #history:hover {
    color: #323633;
    text-decoration: solid underline gray 3px;
}

#button:hover {
    cursor: pointer;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.intro_text {
    margin-top: 20px;
    max-width: 800px;
    height: auto;
    width: 80%;
}

#doge_img2 {
    width: 100%;
    max-width: 600px;
    min-width: 300px;
    height: auto;
    padding: 0;
}

#paragraph1 {
    font-family: 'Trebuchet MS';
    font-size: 40px;
}

#paragraph2 {
    font-size: 30px;
}

#button {
    background-color: #4169e1;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    padding: 15px;
    border-radius: 12px;
}

.midsection_text {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 40px;
    font-weight: bold;
    font-family: 'Roboto';
}

.midsection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 100px;
    gap: 2em;
}

.midsection > div > img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: solid #FCC201 2px;
}

.midsection2 {
    display: flex;
    width: 100%;
    flex-direction: column;
    min-height: 450px;
    background-color: #e1e1e1;
    justify-content: center;
    text-align: left;
    align-items: center;
}

#quote {
    font-family: 'Roboto';
    font-weight: 100;
    font-style: italic;
    font-size: 42px;
    max-width: 1000px;
    margin-left: 20px;
    margin-right: 20px;
    height: auto;
}

#elon {
    margin-left: 500px;
    margin-top: -20px;
    font-family: 'Roboto';
    font-weight: bolder;
    font-size: 30px;
}

.endsection {
    display: flex;
    width: 100%;
    min-height: 350px;
    justify-content: center;
    align-items: center;
}

#signup {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    height: 120px;
    justify-content: center;
    align-items: center;
    background-color: #4169e1;
    border-radius: 10px;
    gap: 15em;
}

#signup_text {
    text-align: left;
    color: white;
}

#endingtext1 {
    font-weight: bold;
    font-size: 20px;
}

.signup_button {
    border: 2px solid white;
    color: white;
    background-color: #4169e1;
    border-radius: 10px;
    font-size: 20px;
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

@media screen and (max-width: 1200px) {

    .intro_text {
        max-width: 600px;
    }
    #paragraph1 {
        font-size: 30px;
    }
    
    #button {
        font-size: 15px;
        padding: 10px;
    }
    #paragraph2 {
        font-size: 20px;
    }
    .header {
        flex-direction: column;
        align-items: center;
    }
    
    #quote {
        font-size: 35px;
        max-width: 1000px;
        
        height: auto;
    }

    #elon {
        font-size: 20px;
        margin-left: 0px;
    }

    #signup {
        gap: 2em;
        height: auto;
    }
  }